{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid mt-2" style="padding: 50px">
      <div class="container">

        <h1 class="display-4 mt-4">What is this site all about?</h1>
        <div class="lead">One time scraper is a free online web scraping service for python developers</div>
                
        <h1 class="display-4 mt-4">What does this site offer?</h1>
        <div class="row mt-4">
          <div class="col-md-6">
            <p class="lead text-left">✔️ Create scraper online</p>
          </div>
          <div class="col-md-4">
            <div><a class="btn btn-success text-right" href="/code">Try it now</a></div>
          </div>
        </div>
      </div>
    </div>

{% endblock%}
